.aaa {
    font-family: 'Poppins', sans-serif;
}
.aaa {
    color: white;
}
body {
    background-color: black;
}
.image {
    height: 400px;
}

.text {
    color: white;
}

.textt {
    color: aliceblue;
}

.texttt {
    color: white;
}

.line {
    color: white;
}

#karina {
    color: white;
}
.question{
    color: white;
    font-family: 'Poppins', sans-serif;;
}

.series{
    color: white;
    font-family: 'Poppins', sans-serif;;
}

